.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: h;
    background-color: gray;
}
.header_img {
    display: flex;
    width: 200px;
}
.loginBlock {
    display: flex;
    color: #fff;
    margin-right: 0;
    align-items: center;
    /* margin-left: 100%; */
}
.login {
    color: #fff;
}
.logout {
    margin-right: 0;
    width: 200px;
    align-items: center;
    display: flex;
    margin-right: 0;
    /* margin-left: 100%; */
}